<h1>Create a Vehicle</h1>
<form action="/vehicles" method="post">
  <input type="text" name="name" value=""><br>
  <input type="text" name="vehicle_type" value=""><br>
  <input type="text" name="make" value=""><br>
  <input type="text" name="model" value=""><br>
  <input type="text" name="max_speed" value=""><br>
  <input type="text" name="capacity" value=""><br>
  <input type="checkbox" name="is_new" value="true"> Is New <br>
  <input type="date" name="model_year"><br>
  <button type="submit" name="button">Create Vehicle</button>
</form>
