<h1>Memetube!!</h1>
<h2>Add a Video</h2>
<form class="" action="/" method="post">
  <input type="text" name="title" value="" placeholder="Video Title"><br>
  <input type="text" name="description" value="" placeholder="Video Description"><br>
  <input type="text" name="url" value="" placeholder="Video URL"><br>
  <input type="text" name="genre" value="" placeholder="Video Genre"><br>
  <button type="submit">Submit</button>
</form><br>
<% @videos.each do |video| %>
  <div class="videos">
    <iframe width="290" height="175" src="https://www.youtube.com/embed/<%= video["url"] %>" frameborder="0" allowfullscreen></iframe>
    <%= video["title"] %> -
    <%= video["description"] %> -
    <%= video["genre"] %>
  </div>
<% end %>

<!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/0ehrUX2KpIE" frameborder="0" allowfullscreen></iframe> -->
<!-- id 1 title Simpsons time description Simpsons funniest moments url https://youtu.be/0ehrUX2KpIE genre Comedy -->
